<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contactus.css">
    <title>Developer Profile</title>
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="logo">
      <img src="/static/logo4.png" alt="Logo" />
    </div>
    <span class="menu-icon" onclick="openNav()">&#9776;</span>
  </header>

  <!-- Navigation Overlay -->
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/index">Home</a>
      <a href="/gallery">Gallery</a>
      <a href="/members">Members Profile</a>
      <a id="loginBtn" href="/pplogin">Login</a>
      <a id="dashboardLink" href="/ppdashboard" style="display:none;">Dashboard</a>
      <a id="paymentsLink" href="https://spf.bio/XcTx5">Payments</a>
      <a href="/contactus">Contact Us</a>
      <a id="surveyForm" href="/survey" style="display:none;">Expense Form</a><br>
      <a id="logoutBtn" href="javascript:void(0)" style="display:none;">Logout</a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <div class="container">
        <div class="profile">
            <img src="/static/images/PAVAN7.jpeg" alt="Profile Photo" class="profile-image">
            <h1>Guguloth Pavan Kalyan</h1>
            <p class="position"> Developer of Website</p>
            <p class="location">Contact us for any information through the social media accounts below</p>
            <div style="margin-top: 15px;">
              <a href="https://www.instagram.com/pavankalyan_officiall/" class="fa fa-instagram" target="_blank" rel="noopener noreferrer"></a>
              <a href="https://wa.me/919949752695/" class="fa fa-whatsapp" target="_blank"></a>
              <a href="mailto:gugulothupavan3699@gmail.com" class="fa fa-envelope"></a>
            </div>
        </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; All Rights Reserved by GUGULOTH PAVAN KALYAN - 2024</p>
  </footer>

  <!-- JavaScript -->
  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
  <script src="/static/scriptFiles/auth.js"></script>

</body>
</html>
